@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

button,
a,
[role="button"],
input[type="submit"],
input[type="button"],
summary {
  cursor: pointer;
}